* {
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
  
}

body {
  background: hsla(239, 94%, 19%, 1);

  background: linear-gradient(180deg, hsla(239, 94%, 19%, 1) 0%, hsla(214, 97%, 27%, 1) 12.5%, hsla(201, 100%, 36%, 1) 25%, hsla(195, 100%, 39%, 1) 37.5%, hsla(190, 100%, 42%, 1) 50%, hsla(190, 74%, 59%, 1) 62.5%, hsla(189, 75%, 75%, 1) 75%, hsla(190, 76%, 82%, 1) 87.5%, hsla(190, 77%, 88%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(239, 94%, 19%, 1) 0%, hsla(214, 97%, 27%, 1) 12.5%, hsla(201, 100%, 36%, 1) 25%, hsla(195, 100%, 39%, 1) 37.5%, hsla(190, 100%, 42%, 1) 50%, hsla(190, 74%, 59%, 1) 62.5%, hsla(189, 75%, 75%, 1) 75%, hsla(190, 76%, 82%, 1) 87.5%, hsla(190, 77%, 88%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(239, 94%, 19%, 1) 0%, hsla(214, 97%, 27%, 1) 12.5%, hsla(201, 100%, 36%, 1) 25%, hsla(195, 100%, 39%, 1) 37.5%, hsla(190, 100%, 42%, 1) 50%, hsla(190, 74%, 59%, 1) 62.5%, hsla(189, 75%, 75%, 1) 75%, hsla(190, 76%, 82%, 1) 87.5%, hsla(190, 77%, 88%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#03045e", endColorstr="#023e8a", GradientType=1 );

  font-family: 'Oxygen', sans-serif;
  margin: auto;
  max-width: 75%;
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
}

p {
  font-weight: 400;
  font-size: 18px;
}