* {
  @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
}

body {
  font-family: 'Oxygen', sans-serif;
  margin: auto;
  max-width: 75%;
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
}

p {
  font-weight: 400;
  font-size: 18px;
}