* {
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
}

section {
  border: 2px solid grey;
  margin-top: 10px;
  padding: 10px 30px;
}

.section-header {
  font-family: 'Anonymous Pro', monospace;
  font-size: 26px;
  font-weight: bold;

  margin-top: 5px;
}

.nav-back-content {
  margin-top: 10px;
  font-size: 24px;
  opacity: 0.66;

  /* align items horizontally */
  display: inline-flex;
  align-items: center;
}

.nav-back {
  color: black;
  text-decoration: none;
}

.color-boxes {
  display: flex;
  justify-content: space-between;

}

.color-box {
  width: 200px;

  font-size: 20px;

  text-align: center;
  padding: 50px 0;
}

/* Colors */
.midnightblue {
  background-color: #003049;
  color: white;
}

.red {
  background-color: #D62828;
}

.orange {
  background-color: #F77F00;
}

.yellow {
  background-color: #FCBF49;
}

.cream {
  background-color: #EAE2B7;
}