* {
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
}

section {
  border: 2px solid grey;
  margin-top: 10px;
  padding: 10px 30px;
}

.section-header {
  font-family: 'Anonymous Pro', monospace;
  font-size: 26px;
  font-weight: bold;
}

.nav-back-content {
  margin-top: 10px;
  font-size: 24px;
  opacity: 0.66;

  /* align items horizontally */
  display: inline-flex;
  align-items: center;
}

.nav-back {
  color: black;
  text-decoration: none;
}