section {
  border: 2px solid grey;
  margin-top: 10px;
  padding: 10px 30px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.nav-back {
  margin-top: 20px;
}

.nav-back a:link {
  color: black;
  text-decoration: none;
}

.nav-back span {
  vertical-align: middle;
}